<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<array>
		<dict>
			<key>name</key>
			<string>相册</string>
			<key>image</key>
			<string>whiteboard_insert_image_default</string>
		</dict>
		<dict>
			<key>name</key>
			<string>相机</string>
			<key>image</key>
			<string>whiteboard_insert_photo_default</string>
		</dict>
	</array>
	<key>brush</key>
	<array>
		<string>颜色</string>
		<string>填充度</string>
		<string>大小</string>
	</array>
	<key>bucket</key>
	<array>
		<string>颜色</string>
	</array>
	<key>circle</key>
	<array>
		<dict>
			<key>polygonImage</key>
			<string>circle</string>
			<key>polygonName</key>
			<string>圆</string>
		</dict>
	</array>
	<key>eraser</key>
	<array>
		<string>大小</string>
	</array>
	<key>text</key>
	<array>
		<string>颜色</string>
		<string>大小</string>
	</array>
	<key>line</key>
	<array>
		<dict>
			<key>polygonImage</key>
			<string>line</string>
			<key>polygonName</key>
			<string>直线</string>
		</dict>
	</array>
	<key>quadrangle</key>
	<array>
		<dict>
			<key>polygonImage</key>
			<string>square</string>
			<key>polygonName</key>
			<string>正方形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>rectangle</string>
			<key>polygonName</key>
			<string>长方形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>parallelogram</string>
			<key>polygonName</key>
			<string>平行四边形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>quadrilateral</string>
			<key>polygonName</key>
			<string>任意多边形</string>
		</dict>
	</array>
	<key>set</key>
	<array>
		<string>工具栏</string>
		<string>顶点样式</string>
		<string>网格线</string>
		<string>分配标签</string>
	</array>
	<key>triangle</key>
	<array>
		<dict>
			<key>polygonImage</key>
			<string>triangle</string>
			<key>polygonName</key>
			<string>三角形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>righttriangle</string>
			<key>polygonName</key>
			<string>直角三角形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>isocelestriangle</string>
			<key>polygonName</key>
			<string>等腰三角形</string>
		</dict>
		<dict>
			<key>polygonImage</key>
			<string>regulartriangle</string>
			<key>polygonName</key>
			<string>等边三角形</string>
		</dict>
	</array>
</dict>
</plist>
