<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teacher</key>
	<array>
		<dict>
			<key>class</key>
			<string>ETTStudentManageViewController</string>
			<key>title</key>
			<string>学生管理</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ETTTeacherCourseViewController</string>
			<key>title</key>
			<string>我的课程</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AXPWhiteboardViewController</string>
			<key>title</key>
			<string>电子白板</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ETTMoreViewController</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>Student</key>
	<array>
		<dict>
			<key>class</key>
			<string>ETTStudentCourseViewController</string>
			<key>title</key>
			<string>我的课程</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AXPWhiteboardViewController</string>
			<key>title</key>
			<string>电子白板</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ETTStudentClassPerformanceVCTR</string>
			<key>title</key>
			<string>课堂表现</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ETTMoreViewController</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>ObserveStudents</key>
	<array>
		<dict>
			<key>class</key>
			<string>ETTStudentCourseViewController</string>
			<key>title</key>
			<string>我的课程</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AXPWhiteboardViewController</string>
			<key>title</key>
			<string>电子白板</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ETTMoreViewController</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
