<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ettAiXuePaiNextGen.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>148C28E315873A5488312B9EE168B34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7631CDBF8A68166FD5F0D5DC606F70F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C8DA131D87A4CF00786ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C8DA2C1D87A4CF00786ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C8DA371D87A4D000786ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD3699B84E67585B6D1D7ECC8F313E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
